.main_container {
    background-image: url('/src/images/wallpaper.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    height: 50rem;
    width: 90rem;

    .main_content {
        position: absolute;
        width: 30%;
        left: 60%;
        margin-top: 8%;
        display: flex;
        flex-direction: column;

        div {
            text-align: center;

            .bullet_points {
                font-weight: 600;
            }
        }

        .main_logo {
            display: flex;
            justify-content: center;

            img {
                width: 35rem;
            }
        }

        .main_button {
            margin-top: 3rem;

            .hovered_button {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: 0.7rem 1.3rem;
                background-color: #1668ff;
                color: white;
                font-size: 16px;
                font-weight: 600;
                border: none;
                cursor: pointer;
                overflow: hidden;
                z-index: 1;
                transition: color 0.01s, transform 0.1s;
                transform-origin: center;
                height: 100%;
            }
            
            .hovered_button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: #1668ff;
                transition: width 0.3s;
                z-index: -1;
            }
            
            .hovered_button:hover::before {
                width: 100%;
            }
            
            .hovered_button:hover {
                color: #fff;
                transform: scale(1.1);
            }
        }
    }
}

.main_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 62px);
    z-index: -1;
    background-image: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

